@media (prefers-color-scheme: dark) {
  :root {
    --nc-tx-1: #ffffff;
    --nc-tx-2: #eeeeee;
    --nc-bg-1: #1a1a1a;
    --nc-bg-2: #212121;
    --nc-bg-3: #303030;
    --nc-lk-1: #3291ff;
    --nc-lk-2: #0070f3;
    --nc-lk-tx: #ffffff;
    --nc-ac-1: #7928ca;
    --nc-ac-tx: #ffffff;
  }
}

body {
  max-width: none;
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3 {
  margin-bottom: 1rem;
}
code {
  display: block;
}
li {
  margin-top: 0;
}
li + li {
  margin-top: 0.4rem;
}
