.stack {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.full-height {
  height: 100vh;
}
.center {
  justify-content: center;
  align-items: center;
}
.main {
  flex: 1;
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}
.main h1:first-of-type {
  position: sticky;
}
.scroll {
  flex: 1;
  overflow-y: scroll;
}
